nav{
    /* background-color: red; */
    width: 50%;
    height: 50px;
    text-align: center;
    margin-top:40px;
    padding-top:20px;
}
header, i ,span{
    margin-top: 10px;
}
#login-btn{
    margin-left: 50px;
    font-size: 25px;
}
li{
    display: inline;
    text-decoration: none;
    list-style: none;
    padding: 20px 10px;
    font-size: 100%;
}
span{
    /* background-color:black; */
    font-size: 30px;
    margin-left: 10%;
    text-align: center;
    font-weight: bold;
}
a{
    margin: 5px;
}

.right{
    float:right;
    margin-top: -140px;
    /* padding-top: 30px; */
    margin-right: 15px;
}
button{
    margin: 0px 6px;
    padding: 5px;
    box-shadow: 6px 5px 5px; 
}
.stud{
    margin-left: 20px;
    text-align: center; 
}
.category{
    display:inline;
    float: right;
    padding:10px;
}
h2{
    float: right;
    padding: 65px;
    margin-top: -170px;
}
